In [4]:
#Name:Sajag Agrawal
#Prn:25070123100
#experiment-8
#Aim:To study fo loops in python

In [ ]:
#Syntax of for loop
#for variables in range(start,stop,increment):
#statements

In [3]:
#print numbers from 1 to 5
for i in range(1,6):  #range(start,stop,increment) range=(1 to n-1)if given range(1 to n)
    print(i)

1
2
3
4
5

In [6]:
#print odd number between 1 to 10
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [11]:
#sum of first n numbers

n=int(input("Enter the value of n:"))
sum=0
for i in range(1,n+1):
  sum=sum+i
print("Sum of first",n,"numbers is:",sum)

Enter the value of n:5
Sum of first 5 numbers is: 15

In [17]:
#3x3 matrix display
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]

for i in range(3):
  for j in range(3):
    print(A[i][j],end=" ") #yaha par i 1st list kai liye hai jiska 1st element hai {1,2,3} aise and j hai sublist kai elements
  print()

1 2 3
4 5 6
7 8 9

In [23]:
#another method to display matrix

A = [[1,2,3],
     [4,5,6],
     [7,8,9]]

for row in A:
  print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [24]:
#multiplication of two 3X3 matrices
A = [[1,2,3],
     [4,5,6],
     [1,2,1]]
B = [[1,1,1],
     [6,5,4],
     [3,2,1]]
result = [[0,0,0],
          [0,0,0],
          [0,0,0]]

for i in range(3):     #rows of A #and result #,columns of B
 for j in range(3):    #Columns of B #and result
   for k in range(3):  ##rows of B
    result[i][j] += A[i][k]*B[k][j]
for row in result:
  print(row)

[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [54]:
#print all prime numbers in  range:
for i in range(2,50):
    for j in range(2,i):
      if i%j==0:
        break
    else:
      print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [50]:
for i in range(1,6,1):
  print("* "*i)

*
* *
* * *
* * * *
* * * * *

In [52]:
for rows in range(0,6):
  print(" "*(6-rows),"* "*rows)

      *
     * *
    * * *
   * * * *
  * * * * *

In [53]:
for rows in range(5,0,-1):
  print(" "*(6-rows),"* "*rows)

  * * * * *
   * * * *
    * * *
     * *
      *